<div class="col-sm-8 col-sm-offset-2">


    <div class="row">
        <input class="form-control" ng-model="task.taskname" placeholder="Enter taskname" required>

    </div>
    <div class="row">
        <textarea class="form-control" ng-model="task.content"placeholder="Enter the description for task" required></textarea>
    </div>
    <div class ="row">
        <select class="form-control" ng-model="task.frequency" required>

            <option value="Daily">Daily</option>
            <option value="Weekly">Weekly</option>
            <option value="Monthly">Monthly</option>
        </select>
<select class="form-control" ng-model="task.Groupid" required>
    <option ng-selected=""ng-repeat="grp in mygroupsbyid"></option>

</select>

    </div>

    <div class ="row">
        <button ng-click="addmytask()">Add my task</button>
    </div>


</div>